@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #222; 
  margin: 0.5rem 0;

}

h1 {
  color: #b3500;
  text-align: center;
}

.project_main,
.blog_main,
.resource_main {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color:  #B35900;
}

#cardset {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
 .cards {
    display: flex;
    flex-direction: column;
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 750px;
    align-items: center;
   background-color: grey;
    
 }

.gameImg {
    height: 350px;
    width: 600px;
}

.favoriteButton {
  background-color: rgb(33, 75, 239);
  width: 120px;
  border-radius: 5px;
  color: white;
}

.favorited {
  width: 120px;
  border-radius: 5px;
  color: white;
}

a {
  font-size: 18px;
  color: white;
  

}



