@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  font-family: "Roboto", sans-serif;
  color: orange
}

.project_main,
.blog_main,
.resource_main {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: orange;
}

 .cards {
    display: flex;
    flex-direction: column;
    border: 2px;
    border-style: solid;
    border-color: black;
 }
/* .cards a {
    display: block;
} */
.gameImg {
    height: 350px;
    width: 600px;
}